article {
  display: flex;
  flex-direction: row;
}

article section:nth-of-type(1) {
  width:40%
}

svg {
  background-color:whitesmoke;
  border:1px solid red;
}

label {
  display: inline-block;
  width:10em;
}

input[type="range"] {
  width:300px;
}

.xaxis, .yaxis {
  stroke: black;
  stroke-width: 1px;

}

polygon {
  stroke-width: 1;
}

circle.dot {
  stroke:none;
}

line.tick {
  stroke:black;
  stroke-width: 1;
}

text.tick {
  text-anchor: middle;
  font-size: 8pt;
  font-family: sans-serif;
}

text.tick.vertical {
  text-anchor: end;
}