svg polyline {
  stroke:black;
  stroke-width: 2;
  fill: none;
  animation: dash 2s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

svg line {
  stroke-width: 2;
}

line.shape {
  stroke:black;
}

line.connector {
  stroke: black;
}

line.connector.differentColor {
  stroke:green;
}

line.connector.invisible {
  visibility: hidden;
}

svg circle.dot {
  stroke: none;
}

circle.dot.start {
  fill:green;
}

circle.dot.end {
  fill:red;
}

svg rect.cell {
  fill:none;
  stroke: lightgray;
  stroke-width: 1;
}

svg rect.boundary {
  fill: none;
  stroke:blue;
  stroke-width: 1;
  stroke-opacity: 0.8;
}