line.background.yaxis,
line.background.xaxis {
    stroke: black;
    stroke-width: 1;
    fill: none;
}

circle.background.circle {
    stroke: black;
    stroke-width: 1;
    fill: none;
}

line.virtualline {
    stroke-width: 1;
    stroke: darkgray;
    fill:none;
}

circle.ball {
    stroke-width: 0;
}

circle.travellingcircle {
    stroke-width: 2;
    fill:deepskyblue;
}

polygon.connectorlines {
}

polygon.connectorlines:not(.fillShapes) {
     fill: none;
}

.hidden {
    visibility: hidden;
}