line.background.yaxis,
line.background.xaxis {
    stroke: black;
    stroke-width: 1;
    fill: none;
}

circle.background.circle {
    stroke: black;
    stroke-width: 1;
    fill: none;
}

line.virtualline {
    stroke-width: 1;
    stroke: darkgray;
    fill:none;
}

circle.ball {
    stroke-width: 2;
    stroke: black;
    opacity: 50%;
}

circle.ball.red {fill:red}
circle.ball.blue {fill:blue}
circle.ball.yellow {fill:yellow}
circle.ball.orange {fill:orange}
circle.ball.purple {fill:purple}
circle.ball.grey {fill:gray}

circle.travellingcircle {
    stroke-width: 2;
    stroke: black;
    fill:deepskyblue;
}