svg polyline {
  stroke:black;
  fill: none;
  stroke-width: 1;
  stroke-linecap: square;
  stroke-linejoin: miter;
  vector-effect:non-scaling-stroke; /*https://stackoverflow.com/questions/78407562/when-zooming-out-of-svg-the-colors-fade/78409844#78409844 */
}

svg line {
  stroke-width: 1;
  stroke:black;
}

#theword {
  width: 1200px  ;
  word-break: break-all;
  overflow: hidden;

}